#!/bin/sh

alias ls='ls --color=auto'
alias ll='ls -lh'
alias diff='diff --color=auto'
alias grep='grep --color=always'
alias df='df -h'
alias z='zathura'
alias r='ranger'
alias ip='ip -a'
alias shutdown='sudo shutdown -h now'
alias watch-network='sudo watch -n 1 -t lsof -P -i -n'
alias scanlan='sudo nmap 192.168.12.0/24 -n -sP -PE -T5|grep report'
alias mylan='ip -4 addr |awk '\''/inet/ {print $2}'\'''
alias pingle='ping google.com'
alias rmpkg='sudo pacman -Rns $(pacman -Qdtq | xargs)'
alias web='python3 -m webbrowser firefox'
alias logout='pkill -KILL -u $USER'
alias c='clear'
alias edb='~/bin/edb-debugger/build/edb'
alias chx='chmod +x'
