#!/bin/sh

alias ls='eza --color=always --icons=always --long -G --no-filesize --no-time --no-user --no-permissions'
alias ll='eza --color=always --icons=always --git --long'
alias diff='diff --color=auto'
alias grep='grep --color=always'
alias df='df -h'
alias ip='ip -a'
alias r='ranger'
alias shutdown='sudo shutdown -h now'
alias watch-network='sudo watch -n 1 -t lsof -P -i -n'
alias scanlan='sudo nmap 192.168.0.0/24 -n -sP -PE -T5|grep report'
alias mylan='ip -4 addr |awk '\''/inet/ {print $2}'\'''
alias wan='wget -qO - https://api.ipify.org; echo'
alias pingle='ping google.com'
alias rmpkg='pacman -Rns $(pacman -Qdtq | xargs)'
alias web='python3 -m webbrowser firefox'
alias logout='pkill -KILL -u $USER'
alias edb='~/bin/edb-debugger/build/edb'
alias chx='chmod +x'
