alias ls='ls --color=tty'
alias df='df -h'
alias ll='ls -lh'
alias z='zathura'
alias r='ranger'
#alias cat='bat'
alias grep='grep --color=always'
alias shutdown='sudo shutdown -h now'
alias watch-network='sudo watch -n 1 -t lsof -P -i -n'
alias scanlan='sudo nmap 10.0.0.0/24 -n -sP -PE -T5|grep report'
alias mylan='ip -4 addr |awk '\''/inet/ {print $2}'\'''
alias pingle='ping google.com'
alias ptop='btop'
alias rmorphans='sudo pacman -Rns $(pacman -Qdtq | xargs)'
alias web='python3 -m webbrowser firefox'
alias logout='pkill -KILL -u $USER'
