[core]
    excludesfile = ~/.gitignore
    editor = vim

[init]
    defaultBranch = main

[user]
	name = xorsirenz
    email = 69394836+xorsirenz@users.noreply.github.com

[push]
    default = current

[tag]
	forceSignAnnotated = true
