* {
  font-family: 'Hasklug Nerd Font';
  font-weight: 500;
  font-style: normal;
}

/* order of bars */
#titlebar {
  -moz-box-ordinal-group: 0 !important;
}
#navigator-toolbox #toolbar-menubar {
  -moz-box-ordinal-group: 1 !important;
}
#navigator-toolbox #nav-bar {
  -moz-box-ordinal-group: 2 !important;
  background-color: transparent !important;
}
#PersonalToolbar {
  -moz-box-ordinal-group: 3 !important;
}

/*
#TabsToolbar-customization-target {
    visibility: collapse !important;
}*/

/* non active tabs have darker text */
.tabbrowser-tab:not([visuallyselected="true"]):not([multiselected]):not(:hover) {
  color: #8c85e4 !important;
}

/* url bar */
#urlbar-background {
  display: none !important;
}

/* megabar */
#urlbar[breakout][breakout-extend][open] {
    background-color: #09121b !important;
}
#navigator-toolbox {
    --toolbar-field-focus-border-color: #09121b !important;
}

/* main bar */
#navigator-toolbox {
  background-color: #09121b !important;
  --tabs-navbar-shadow-size: none !important;
}

/* select tabs */
.tabbrowser-tab .tab-background[selected="true"] {
  border: #09121b !important;
  background-color: #09121b !important;
}

.tabbrowser-tab .tab-background:not([selected]) {
  background-color: #09121b !important;
}

/* tabs on hover */
#tabbrowser-tabs
  .tabbrowser-tab:hover
  > .tab-stack
  > .tab-background:not([selected="true"]) {
  background-color: #09121b !important;
}

/* multiselect tabs on hover */
#tabbrowser-tabs .tabbrowser-tab .tab-background[multiselected="true"] {
  border: 0 !important;
  background-color: #09121b !important;
}

/* fixing multiselect */
.tab-background[multiselected="true"]:not([selected="true"])
  > .tab-background-inner {
  background: none !important;
}

/* tab close button on hover */
.tabbrowser-tab:not([pinned]) .tab-close-button {
  display: -moz-box !important;
  opacity: 0;
  visibility: collapse !important;
  transition: opacity 0.25s, visibility 0.25s ease-in !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  opacity: 1;
  visibility: visible !important;
}

/* bookmark menu */
#PersonalToolbar {
    background-color: #09121b !important;
}
